@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    /* background: linear-gradient(to right bottom, #6d327c, #485DA6, #00a1ba, #01b18e, #32b37b);
    background: #D3D3D3; */
    background-image: url("./images/background.png");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }